@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  background-color: #FAF3DD;
}
.nav-bar {
  position: fixed;
  top: 0;
  background-color: #  background-color: #FAF3DD;
  ;
  z-index: 1000;
  width: 100%;
}
input[type="radio"] {
  display:none;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}
.card-body {
  background-color: #FAF3DD;
}
.user-card {
  margin-left: 12px;
}
